@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

.color {background-color: hsl(300, 43%, 22%);}
.color {background-color: hsl(333, 80%, 67%);}
.color {background-color: hsl(303, 10%, 53%);}
.color {background-color: hsl(300, 24%, 96%);}
.color {background-color: hsl(0, 0%, 100%);}

/* UNIVERSAL */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'League Spartan', sans-serif;
    }

    .attribution {
        font-size: 11px;
        text-align: center;
    }
    .attribution a {
        text-decoration: none;
        color: hsl(228, 45%, 44%);
    }

/* MEDIA QUERIES */

    @media screen and (min-width: 0px) {

        /* TAGS */

            body {
                margin: auto;
                width: 375;
                height: 1530px;
                display: grid;
                justify-content: center;
                align-content: center;
                text-align: center;
                font-size: 15px;
            }

            article {
                display: flex;
                flex-direction: column;
                padding: 1rem;
            }

            article {
                height: 220px;
                border-radius: 1rem;
                background-color: hsl(300, 43%, 22%);
                color: hsl(0, 0%, 100%);
            }

            article p {
                text-align: left;
                line-height: 1.4rem;
            }

            header {
                width: 50%;
                display: grid;
            }

            header,
            header img {
                height: 42px;
            }

            header img {
                border-radius: 100%;
                align-self: center;
            }

            header h4 {
                align-self: center;
            }

            header span {
                align-self: center;
                color: hsl(333, 80%, 67%);
            }



        /* CLASS */

            .card,
            .articles_container {
                display: flex;
            }

            .card,
            .articles_container {
                flex-direction: column;
            }

            .card {
                width: 340px;
            }

            .articles_container {
                gap: 1rem;
            }

        /* ID */

        #img-colton {
            grid-area: img-colton;
        }

        #name-colton {
            grid-area: name-colton;
        }

        #status-colton {
            grid-area: status-colton;
        }

        #header-colton {
            grid-template-areas:
            'img-colton name-colton'
            'img-colton status-colton';
        }

        #img-irene {
            grid-area: img-irene;
        }

        #name-irene {
            grid-area: name-irene;
        }

        #status-irene {
            grid-area: status-irene;
        }

        #header-irene {
            grid-template-areas:
            'img-irene name-irene'
            'img-irene status-irene';
        }

        #img-anne {
            grid-area: img-anne;
        }

        #name-anne {
            grid-area: name-anne;
        }

        #status-anne {
            grid-area: status-anne;
        }

        #header-anne {
            grid-template-areas:
            'img-anne name-anne'
            'img-anne status-anne';
        }

    }

    @media screen and (min-width: 401px) {

        /* TAGS */
        /* CLASS */
        /* ID */

    }